@{
    ViewBag.Title = "Home Page";
}

<div class="heading-title text-center">
    <h2 class="title"><span>Featured Products</span></h2>
    <div class="big-text">New Items</div>
</div>
<!-- Instagram section (Product Carousel) top -->
<div class="iq-instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel iq-instagram-item arrow-1" data-nav-dots="false" data-nav-arrow="true" data-items="6" data-sm-items="2" data-lg-items="4" data-md-items="3" data-autoplay="true">
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WS001.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WS002.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WS003.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WS004.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MS001.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MS002.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MS003.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MS004.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram section top end-->
<!-- Instagram section (Product Carousel) bottom-->
<div class="iq-instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel iq-instagram-item  arrow-1" data-nav-dots="false" data-nav-arrow="true" data-items="6" data-sm-items="2" data-lg-items="4" data-md-items="3" data-autoplay="true">
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/KS004.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WP001.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MP001.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MP002.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/KP003.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/KP004.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/MU003.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="iq-instagrambox">
                            <div class="instagram-image">
                                <img class="hover" src="@Url.Content("~/productImages/WU004.jpg")" alt="instagram image">
                                <ul class="instagram-icon">
                                    <li><a href="#"><i class="fas fa-heart" aria-hidden="true"></i></a></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram section bottom end-->
<!--=================================
<!--=================================
<!--=================================
Main Content -->
<div class="main-content particles position-relative">
    <div class="circle"></div>
    <div class="circle two"></div>
    <div class="plus">+</div>
    <div class="triangle"></div>
    <div class="triangle two"></div>
    <div class="square"></div>
    <div class="shape-1 two"><img src="@Url.Content("~/images/shape/01.png")" alt="#"></div>
    <div class="shape-2"><img src="@Url.Content("~/images/shape/02.png")" alt="#"></div>
    <div class="shape-2 two"><img src="@Url.Content("~/images/shape/02.png")" alt="#"></div>

    <!-- services section-->
    <section class="iq-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="media">
                        <img src="@Url.Content("~/images/icon/01.png")" alt="#">
                        <div class="media-body">
                            <div class="round"></div>
                            <h6 class="mt-0">Free Shippings</h6>
                            <p>Cras sit amet nibh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="media">
                        <img src="@Url.Content("~/images/icon/02.png")" alt="#">
                        <div class="media-body">
                            <div class="round"></div>
                            <h6 class="mt-0">Secure Payment</h6>
                            <p>Cras sit amet nibh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="media">
                        <img src="@Url.Content("~/images/icon/03.png")" alt="#">
                        <div class="media-body">
                            <div class="round"></div>
                            <h6 class="mt-0">Free Return</h6>
                            <p>Cras sit amet nibh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="media">
                        <img src="@Url.Content("~/images/icon/04.png")" alt="#">
                        <div class="media-body">
                            <div class="round"></div>
                            <h6 class="mt-0">Best Price</h6>
                            <p>Cras sit amet nibh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section end-->
</div>
<!--=================================
Main Content End-->
